@import "tailwindcss";

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121827;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #121827;
    background-color: #F1F5F9;
  }
}
