[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask_sqlalchemy = ">=3.0.0"
flask-migrate = "*"
flask-restful = "*"
gunicorn = "*"
honcho = "*"
importlib-metadata = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-bcrypt = "1.0.1"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8.13"
